[SERVICE]
    Flush         5
    Log_Level     info
    Parsers_File  parsers.conf

[INPUT]
    Name         systemd
    Tag          host.*
    Systemd_Filter  _SYSTEMD_UNIT=ssh.service
    Systemd_Filter  _SYSTEMD_UNIT=nginx.service
    Read_From_Tail  true

[OUTPUT]
    Include outputs.conf
